body {
    background-color: beige;
}

h1 {
    padding: 0.5em 0;
    border-bottom: solid 3px #b1f4fa;
    margin: 10%;
    width: 80%;
    margin-bottom: 2%;
}

li {
    margin: 10%;
    width: 77%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: #404040;
    border-left: solid 6px #b1f5ff;
    border-right: solid 6px #b1f5ff;
    border-bottom: solid 2px #dadada;
    background: whitesmoke;
    text-align: center;
    margin-bottom: 5px;
    padding: 0.5em;
    list-style-type: none;
    font-weight: bold;
}

img {
    height: auto;
    width: 85%;
    margin: auto;
    display: block;
}

p {
    text-align: center
}

iframe {
    width: 80%;
    height: 45vw;
    margin: auto;
    display: block;
}